.panel {

}


.panel-body {
	font-size:12px;
}


.panel-heading{
	
}

.panel-footer{
	font-size: 10px;

}


.task-container{

}

.task-container-main{

	
}


.task-container-main h5{
	text-align: center;




}


.barraTareas {


}




.left-arrowSpan{
	display:block;
	float:left;


}

.right-arrowSpan{
	display:block;
	float:right;

}


.left-arrow{

}

.right-arrow{


}






.panel-heading {


}

.pgNuevo {}



.contenidoPrincipal{



}

.containerUsuarios {


}

.containerStatus {
	

}

.footerDaily {


}


.app-modal-window .modal-dialog{


}