<!DOCTYPE html>
<html>
   <head>
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
      <link rel="stylesheet" href="css/style.css">
      <!-- Latest compiled and minified JavaScript -->
      <script type="text/javascript"  src="bower_components/jquery/dist/jquery.js"></script>
      <script type="text/javascript"  src="Scripts/jquery-ui-1.9.2.custom.js"></script>
      <script  type="text/javascript" src="js/angular.js"></script>
      <script type="text/javascript" src="js/angular-animate.js"></script>
      <script type="text/javascript" src="Scripts/angular-route.js"> </script>
      <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript"  src="js/ui-bootstrap-tpls-0.13.4.js"></script>
      <script  type="text/javascript" src="Scripts/app.js"></script>
      <script  type="text/javascript" src="Scripts/modalController.js"></script>
      <title>Daily Meeting</title>
   </head>
   <body ng-app="MyAppAngular">
      <div ng-controller="nuevaTareaController">
      <div class="container-fluid" >
      <div class="titulo">
         <h1 class="text-center"> Daily Meeting</h1>
      </div>
      <div class="row pgNuevo ">
         <div class="col-sm-12" >
            <a class="btn btn-warning" ng-click="open()"> Nueva Tarea <span class="glyphicon glyphicon-plus"></span> </a>
            <h3 class="barraTareas">Tareas: <span class="label label-default"> 32 </span></h3>
         </div>
      </div>


      <div class="row contenidoPrincipal">



      <div class="col-sm-12 containerStatus">

         <div class="col-sm-3">
            <div class="panel panel-danger">

               <div class="panel-heading">New</div>
               <div class="panel-body">
                  <div class="row task-container" ng-repeat="item in itemsNew">

                     <div class="task-container-main col-md-12">

                        <div class="panel panel-default">


                   <div class="panel-heading"> <h5><span class="glyphicon glyphicon-tasks"> </span> {{item.name}}</h5></div>
                           <div class="panel-body">
                              Editar document blabla, implementacion en blabla
                               <span class="glyphicon glyphicon-chevron-right right-arrowSpan" ng-click="moveArrow(item,'right')"> </span>
                              <span class="glyphicon glyphicon-pencil" ng-click="update(item)">
                           </div>
                           <div class="panel-footer"> Asignado a: <b> {{item.assignedToDisplayName}} </b></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
     </div>

            
         <div class="col-sm-3">
            <div class="panel panel-info">
               <div class="panel-heading">To Do</div>
               <div class="panel-body">
                  <div class="row task-container" ng-repeat="item in itemsToDo">
                     <div class="task-container-main col-md-12">

                        <div class="panel panel-default">

                   <div class="panel-heading"> <h5><span class="glyphicon glyphicon-tasks"> </span> {{item.name}}
                                                  <span class="glyphicon glyphicon-chevron-right right-arrowSpan" ng-click="moveArrow(item,'right')"> </span>
                              <span class="glyphicon glyphicon-chevron-left left-arrowSpan" ng-click="moveArrow(item,'left')" > </span>
</h5></div>
                           <div class="panel-body">
                              Editar document blabla, implementacion en blabla

                              <span class="glyphicon glyphicon-pencil" ng-click="update(item)">
                           </div>
                           <div class="panel-footer"> Asignado a: <b> {{item.assignedToDisplayName}} </b></div>
                        </div>
                  </div>
               </div>
            </div>
         </div>
          </div>
         <div class="col-sm-3">
            <div class="panel panel-success">
               <div class="panel-heading">In Progress</div>
               <div class="panel-body">
                  <div class="row task-container" ng-repeat="item in itemsInProgress">
                     <div class="task-container-main col-md-12">

                        <div class="panel panel-default">

                   <div class="panel-heading"> <h5><span class="glyphicon glyphicon-tasks"> </span> {{item.name}}
                                                  <span class="glyphicon glyphicon-chevron-right right-arrowSpan" ng-click="moveArrow(item,'right')"> </span>
                              <span class="glyphicon glyphicon-chevron-left left-arrowSpan" ng-click="moveArrow(item,'left')" > </span>
</h5></div>
                           <div class="panel-body">
                              Editar document blabla, implementacion en blabla

                              <span class="glyphicon glyphicon-pencil" ng-click="update(item)">
                           </div>
                           <div class="panel-footer"> Asignado a: <b> {{item.assignedToDisplayName}} </b></div>
                        </div>



                  </div>
                  </div>
               </div>
            </div>
         </div>



         <div class="col-sm-3">
            <div class="panel panel-primary">
               <div class="panel-heading">Done</div>
               <div class="panel-body">
                  <div class="row task-container" ng-repeat="item in itemsDone">

                     <div class="task-container-main col-md-12">

                        <div class="panel panel-default">

                   <div class="panel-heading"> <h5><span class="glyphicon glyphicon-tasks"> </span> {{item.name}}
                                                  <span class="glyphicon glyphicon-chevron-right right-arrowSpan" ng-click="moveArrow(item,'right')"> </span>
                              <span class="glyphicon glyphicon-chevron-left left-arrowSpan" ng-click="moveArrow(item,'left')" > </span>
</h5></div>
                           <div class="panel-body">
                              Editar document blabla, implementacion en blabla

                              <span class="glyphicon glyphicon-pencil" ng-click="update(item)">
                           </div>
                           <div class="panel-footer"> Asignado a: <b> {{item.assignedToDisplayName}} </b></div>
                        </div>



                  </div>


                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="container-fluid text-center">
         <div class="footerDaily">
            <p>Perception Group 2017</p>
         </div>
      </footer>
   </body>
   <script type="text/ng-template" id="myModalContent.html">
      <div class="modalTemplate"> 
              <div class="modal-header">
                  <h3 class="modal-title">Nueva Tarea</h3>
              </div>
      
      
              <div class="modal-body">
      <form >
                     <div class="form-group">
                        <label for="">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" ng-model="datos.assignedToDisplayName">
                     </div>
                     <div class="form-group">
                        <label for="">Tarea</label>
                        <input type="text" class="form-control" id="Tarea" ng-model="datos.name">
                     </div>
                     <div class="form-group">
                        <label for="">assignedTo:</label>
                        <input type="text" class="form-control" id="assignedTo" ng-model="datos.assignedTo">
                     </div>
      
      
                     <div class="form-group">
                        <label for="Estado">Estado</label>
                        <select class="form-control" id="Estado" required ng-model="datos.status">
                           <option value=""></option>
                           <option style="color:red">New</option>
                           <option style="color:grey">To Do</option>
                           <option style="color:green">In Progress</option>
                           <option style="color:blue">Done</option>
                        </select>
                        </div>
      
      
      
                <input type="text" name="id" ng-model="datos.taskId">
      </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-primary" type="submit" ng-click="ok()">OK</button>
                  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
              </div>
      
         </div>
      
      
          
   </script>
</html>